.table-view {
    -fx-background-color: #96c5ef;
    -fx-border-color: #888;
    -fx-border-width: 1;
}
.table-view .column-header-background {
    -fx-background-color: #e0e0e0;
}
.table-view .table-row-cell:selected {
    -fx-background-color: #b3d9ff;
}
.table-view .column-header {
    -fx-background-color: #b2cef0;
}